 /* ESTILO GERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Serif Text", serif;
  font-weight: 900;
  font-style: normal;
}


body {
  background-color: #000;
  height: 100vh;
}

button:hover {
  box-shadow: 0px 0px 8px #00ff08;
  transform: scale(1.05);
}

/* ESTILO PARA A INTERFACE (container principal) */
.interface {
  max-width: 1280px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

/* Botão */
.btn-contato button {
  padding: 10px 40px;
  font-size: 16px;
  font-weight: 700;
  background-color: #00ff08;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.2s;
}

h2.titulo {
  color: #fff;
  font-size: 38px;
  text-align: center;
}

h2.titulo span {
  color: #00ff08;
}

/* ESTILO PARA O CABEÇALHO */
header {
  padding: 25px 4%;
}

header > .interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ESTILO PARA A LOGO */
.logo img {
  width: 110px;
  height: 110px;
  object-fit: contain;
}

/* ESTILO PARA OS LINKS NO CABEÇALHO */
header a {
  color: #7d7d7d;
  text-decoration: none;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
  cursor: pointer;
}

header a:hover {
  color: #fff;
  transform: scale(1.1);
}

/* ESTILO PARA O MENU DE NAVEGAÇÃO */
header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  padding: 0 40px;
}

/* Estilo do topo do site */
section.topo-do-site {
  padding: 46px 4%;
}

section.topo-do-site.flex {
  align-items: center;
  justify-content: center;
  gap: 180px;
}

.topo-do-site h1 {
  color: #fff;
  font-size: 49px;
  line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
  color: #00ff08;
  font-size: 50px;
}

.topo-do-site .txt-topo-site p {
  color: #fff;
  line-height: 1.5;
  margin: 40px 0;
}

.topo-do-site .txt-topo-site p span {
  color: #00ff08;
  font-size: 50px;
}

.topo-do-site .img-topo-site img {
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
  width: 350px;
  height: 350px;
  object-fit: contain;
}

@keyframes flutuar {
  0% {
    top: 0;
  }
  100% {
    top: 35px;
  }
}

/* Estilo Das Especialidades */
section.especialidades {
  padding: 80px 4%;
}

section.especialidades .flex {
  gap: 60px;
}

.especialidades .especialidades-box {
  color: #fff;
  padding: 40px;
  border-radius: 20px;
  margin-top: 45px;
  transition: .2s;
}

.especialidades .especialidades-box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 18px #ffffff78;
}

.especialidades .especialidades-box i {
  font-size: 70px;
  color: #00ff08;
}

.especialidades .especialidades-box h3 {
  font-size: 28px;
  margin: 15px 0;
}

/* Responsividade */
@media (max-width: 768px) {
  .flex {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  header nav ul li {
    display: block;
    padding: 10px 0;
  }

  .topo-do-site.flex {
    flex-direction: column-reverse;
    gap: 40px;
  }

  .topo-do-site .img-topo-site img {
    width: 250px;
    height: 250px;
  }
}

/* Estilo do Sobre */
section .sobre {
  padding: 40px 4%;
}

section .sobre .flex {
  align-items: center;
  gap: 60px;
  display: flex;
  flex-direction: row; /* Alinha a imagem e o texto na horizontal */
}

.sobre .txt-sobre {
  color: #fff;
  margin-top: 20px; /* Adiciona um espaço acima do texto */
  padding-left: 20px; /* Ajuste o espaçamento à esquerda */
  padding-right: 20px; /* Ajuste o espaçamento à direita */
}

.sobre .txt-sobre h2 {
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
  color: #00ff08;
  display: block;
}

.sobre .txt-sobre p {
  margin: 15px 0;
  text-align: justify;
  list-style: none; /* Garante que não haja lista com pontos indesejados */
  text-indent: 10px; /* Adiciona um pequeno recuo na primeira linha do parágrafo */
}


/* Estilo para os botões sociais */
.sobre .txt-sobre .btn-social {
  margin-top: 20px;
}

.sobre .txt-sobre .btn-social a {
  margin: 0 10px; /* Espaçamento entre os ícones */
}

.sobre .txt-sobre .btn-social button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: #00ff08;
  font-size: 22px;
  cursor: pointer;
  margin: 0 5px;
  transition: background-color 0.3s ease;
}

.sobre .txt-sobre .btn-social button i {
  font-size: 30px; /* Tamanho do ícone */
  color: white; /* Cor do ícone */
}

/* Efeito hover para os botões */
.sobre .txt-sobre .btn-social button:hover {
  background-color: #00cc00; /* Muda a cor de fundo ao passar o mouse */
}


.sobre .img-sobre {
  width: 100%;
  height: 100vh; /* Ajusta a altura para ocupar toda a altura da tela */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-grow: 1;
  border-radius: 20px;
}

.sobre .img-sobre img {
  max-width: 100%; /* Ajusta a largura máxima da imagem */
  height: 100%; /* Faz a altura da imagem ocupar toda a altura da div */
  object-fit: cover; /* A imagem vai cobrir a área da div sem distorcer */
  display: block;
  border-radius: 15px;
  transition: .2s;
}

