/* ESTILO GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Serif Text", serif;
    font-weight: 900;
    font-style: normal;
}

body {
    background-color: #000;
    min-height: 100vh;
    width: 100%; /* Adiciona largura total */
}

html {
    scroll-behavior: smooth;
}

button:hover,
form .btn-enviar input:hover {
    box-shadow: 0px 0px 8px #00ff08;
    transform: scale(1.05);
}

/* CONTAINER PRINCIPAL */
.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

/* TIPOGRAFIA */
h2.titulo {
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: #00ff08;
}

/* CABEÇALHO */
header {
    padding: 25px 4%;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

header a {
    color: #7d7d7d;
    text-decoration: none;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

header .menu-desktop a:hover {
    color: #fff;
    transform: scale(1.1);
}

header nav ul {
    list-style-type: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 40px;
}

/* MENU MOBILE */
.btn-abrir-menu {
    position: absolute;
    right: 20px;
    top: 25px;
    cursor: pointer;
}

.btn-abrir-menu i {
    color: #00ff08;
    font-size: 39px;
}

.menu-mobile {
    background-color: #1a1a1a;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: width 0.3s ease-in-out;
}

.menu-mobile.abrir-menu {
    width: 70%;
}

.menu-mobile .btn-fechar {
    padding: 20px 5%;
}

.menu-mobile .btn-fechar i {
    color: #00ff08;
    font-size: 30px;
}

.menu-mobile nav ul {
    text-align: right;
}

.menu-mobile nav ul a {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 15px 9%;
    display: block;
    transition: background-color 0.2s ease;
}

.menu-mobile nav ul a:hover {
    background-color: #00ff08;
    color: #000;
}

.overlay-menu {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
    transition: opacity 0.3s ease;
}

/* TOPO DO SITE */
section.topo-do-site {
    padding: 46px 4%;
}

section.topo-do-site.flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    color: #fff;
    font-size: 49px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
    color: #00ff08;
    font-size: 50px;
}

.topo-do-site .txt-topo-site p {
    color: #fff;
    line-height: 1.5;
    margin: 40px 0;
}

.topo-do-site .txt-topo-site p span {
    color: #00ff08;
    font-size: 50px;
}

.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
    width: 350px;
    height: 350px;
    object-fit: contain;
}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 35px;
    }
}

/* ESPECIALIDADES */
section.especialidades {
    padding: 40px 4%;
}

section.especialidades .flex {
    gap: 60px;
}

.especialidades .especialidades-box {
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: 0.2s;
}

.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 18px #ffffff78;
}

.especialidades .especialidades-box i {
    font-size: 70px;
    color: #00ff08;
}

.especialidades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

/* SOBRE */
section.sobre {
    padding: 40px 4% 80px 4%;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre {
    color: #fff;
    margin-top: 18px;
    padding: 0 20px;
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: #00ff08;
    display: block;
}

.sobre .txt-sobre p {
    margin: 15px 0;
    text-align: justify;
    text-indent: 10px;
}

.sobre .btn-social {
    margin: 20px 0 40px 0;
    text-align: center;
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #00ff08;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: background-color 0.3s ease;
}

.btn-social button i {
    font-size: 30px;
    color: white;
    color: #000;

}

.btn-social button:hover {
    background-color: #00cc00;
}

.sobre .img-sobre {
    width: 98%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-grow: 1;
    border-radius: 20px;
}

.sobre .img-sobre img {
    max-width: 100%;
    height: 75%;
    object-fit: cover;
    display: block;
    border-radius: 15px;
    transition: 0.2s;
}

/* PORTFÓLIO */
section.portfolio {
    padding: 40px 4% 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

section.portfolio .flex {
    justify-content: space-around;
    margin-top: 60px;
    gap: 60px;
}

.img-port {
    width: 360px;
    height: 460px;
    background-color: #00ff08;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-port:hover {
    background-position: 100% 100%;
}

.img-port.em-construcao {
    background-color: #f0f0f0; /* Fundo cinza claro */
    display: flex;
    justify-content: center;
    align-items: center;
    color: black; /* Cor do texto */
    font-size: 1.2em; /* Tamanho da fonte */
}

.img-port.em-construcao .overlay {
    background-color: rgba(0, 0, 0, 0.5); /* Fundo preto semi-transparente */
    color: white;
    padding: 10px;
    opacity: 1; /* Torna o texto visível */
}

.img-port img {
    max-width: 100%;
    height: auto;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b8;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: 0.5s;
}

.overlay:hover {
    opacity: 1;
}

/* FORMULÁRIO */
section.formulario {
    padding: 80px 4%;
}

form {
    max-width: 500px;
    margin: 40px auto 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input,
form textarea {
    width: 100%;
    background-color: #242424;
    border: 1px solid transparent;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #00ffff;
    font-size: 18px;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form input:focus,
form textarea:focus {
    border-color: #00ff08;
    box-shadow: 0 0 0 3px rgba(0, 255, 8, 0.2);
}

form input::placeholder {
    color: #00ff08;
    opacity: 0.7;
}

form textarea {
    resize: vertical;
    min-height: 120px;
    max-height: 250px;
}

form .btn-enviar {
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input {
    width: 120px;
    background-color: #00ff08;
    color: #000;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
    border-radius: 30px;
    padding: 12px 0;
}

form .btn-enviar input:hover {
    background-color: #00cc00;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 255, 8, 0.3);
}

form .btn-enviar input:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 255, 8, 0.3);
}

/* RODAPÉ */
footer {
    padding: 37px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

footer .flex {
    justify-content: space-between;
}

footer .line-footer {
    padding: 20px 0;
}

.borda {
    border-top: 2px solid #00ff08;
}

footer .line-footer p i {
    color: #00ff08;
    font-size: 22px;
}

footer .line-footer p a {
    color: #fff;
}

footer .logo-footer img {
    width: 200px;
    height: auto;
}

/* BOTÕES */
.btn-contato button {
    padding: 10px 40px;
    font-size: 16px;
    font-weight: 700;
    background-color: #00ff08;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.2s;
}

/* RESPONSIVIDADE */
@media (max-width: 1041px) {
    .flex {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    h2.titulo {
        font-size: 33px;
        line-height: 30px;
    }

    /* Cabeçalho */
    .menu-desktop,
    .btn-contato {
        display: none;
    }

    /* Topo do Site */
    section.topo-do-site {
        padding: 20px 8%;
    }

    .topo-do-site.flex {
        flex-direction: column-reverse;
        gap: 40px;
    }

    .topo-do-site h1 {
        font-size: 30px;
    }

    .topo-do-site .img-topo-site img {
        width: 100%;
        max-width: 159px;
        margin-top: 40px;
    }

    .logo {
        position: absolute;
        top: 7px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
    }

    /* Especialidades */
    section.especialidades {
        padding: 40px 8%;
    }

    /* Sobre */
    section.sobre {
        padding: 78px 8%;
    }

    .sobre .txt-sobre h2 {
        font-size: 34px;
        line-height: 35px;
    }

    .img-sobre img {
        width: 80%;
    }

    /* Portfólio */
    section.portfolio {
        padding: 80px 8%;
    }

    .img-port {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }

    #btn-voltar-topo {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: #00ff08;
        color: #000;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: opacity 0.3s ease, bottom 0.3s ease, right 0.3s ease;
        z-index: 1000;
        align-items: center;
        justify-content: center;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    #btn-voltar-topo i {
        margin-right: 5px;
        font-size: 1.2em;

    }

    #btn-voltar-topo.mostrar {
        display: flex;
    }

    #btn-voltar-topo:hover {
        background-color: #00cc00;
        transform: translateY(-3px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }
}

#btn-voltar-topo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #00ff08;
    color: #000;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.3s ease, bottom 0.3s ease, right 0.3s ease;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#btn-voltar-topo i {
    margin-right: 5px;
    font-size: 1.2em;
}

#btn-voltar-topo:hover {
    background-color: #00cc00;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}